<html>
<head> <title>Dashboard</title>
      <div>
      <a href="http://localhost:5000/dashboard">Dashboard</a>
      <a href="http://localhost:5000/profilepage">Profile</a>
      <a href="http://localhost:5000/profileupdatepage">Update Profile</a>
      <a href="http://localhost:5000/changepassword">ChangePassword</a>
      <a href="http://localhost:5000/logout">Logout</a>
     </div>
</head>
<body>
   
    
	
    <p> Welcome: {{loginuser}}</p>
    <p> visits: {{count}}</p>

	
	
	
</body>
</html>
