<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Name</td>
             <td>Email</td>
            <td>Mobile</td>
            <td>Education</td>
            <td>Password</td>
            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["email"]}}</td>
               <td>{{row["mobile"]}}</td>
               <td>{{row['education']}}</td>
               <td>{{row['password']}}</td>
              
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>