<html>
<head>
    <title> LogIN page</title>
</head>
<body>
	<form method='POST' action='http://localhost:5000/process'>
		<table>
			
            <tr>
   			<td>
  				Name:<input type='text' name='tuser' placeholder='name'>
			</td>
			</tr>
            
			<tr>
			<td>Password:<input type='password' name='tpass' placeholder='password' ></td>
			</tr>
            
			<tr>
			<td>
			<input type='submit' value='login'>
			</td>
            </tr>
                
            <td>
			<h4>Not a User? <a href='http://localhost:5000/registerpage'>Register</a></h4>
			</td>
                
			
		</table>
	</form>
</body>
</html>
    