<html>
<head>
    <title>Register page</title>
</head>
<body>
	<form method='POST' action='http://localhost:5000/addrec'>
		<table>
			
            <tr>
   			<td>
  				Name       :<input type='text' name='name' placeholder='Name'>
			</td>
			</tr>
            
			<tr>
			<td>Email      :<input type='email' name='email' placeholder='Email' ></td>
			</tr>
            <tr>
			<td>Mobile No  :<input type='number' name='mobile' placeholder='Mobile No' ></td>
			</tr>
            <tr>
			<td>Education       :<input type='text' name='edu' placeholder='Your Education' ></td>
			</tr>
            <tr>
			<td>Password       :<input type='text' name='pass' placeholder='Password' ></td>
			</tr>
            
            
           
           
			<tr>
			<td>
			<input type='submit' value='Submit'>
			</td>
			</tr>
		</table>
	</form>
</body>
</html>
    